<div class="note-outer">
  <div class="note-inner">
    <div class="note-buttons">
      <button class="embolden">B</button><button class="italicize">It</button><button class="delete-note">Remove Note</button>
    </div>
    <div class="note-editable" contenteditable="true"></div>
  </div>
</div>